# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# Temporary files
*.tmp

# Generated outputs
*.pdf
*.txt

# Media
*.mp3
*.mp4
*.wav
*.m4a

# OS files
.DS_Store
Thumbs.db